@import url(libs.css);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #3686BE;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, input[type="submit"]:hover {
    background-color: #255d82;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  font-size: 1.25em;
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #3686BE;
  text-decoration: none; }
  a:hover {
    color: #255d82; }
  a:active, a:focus {
    color: #255d82;
    outline: none; }

hr {
  border-bottom: 1px solid #CCC;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #CCC;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #e6e6e6;
  border: 1px solid #CCC;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #CCC;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #b3b3b3; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #3686BE;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(48, 121, 170, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #CCC;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.bg-blue {
  background-color: #4AAADE;
  text-shadow: 0px 1px 1px rgba(27, 108, 152, 0.5); }

.bg-dark-blue {
  background-color: #3686BE;
  color: white;
  text-shadow: 0 1px #333; }

.bg-orange {
  background-color: #F37033;
  color: white;
  text-shadow: 0 1px #333; }

.bg-dark-gray {
  background-color: #333;
  color: white; }

.bg-light-gray {
  background-color: #d8e1e5;
  text-shadow: 0 1px white; }

.bg-light-red {
  background-color: #FBE3E4; }

.bg-light-yellow {
  background-color: #FFF6BF; }

.bg-light-green {
  background-color: #E6EFC2; }

.container {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 4%;
  padding-right: 4%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 48em)  {
    .container {
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 50px;
      padding-bottom: 50px; } }

@media screen and (min-width: 48em)  {
  .col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .col:last-child {
      margin-right: 0; } }

.overheader {
  background-color: #3686BE;
  color: white;
  text-shadow: 0 1px #333;
  border-top: 10px solid #215F8B;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center; }
  .overheader .container {
    padding-top: 15px;
    padding-bottom: 17px; }

hr {
  margin: 48px 0; }

.body--leadin {
  font-size: 28px;
  color: #F37033;
  font-weight: bold; }
  .body--leadin a {
    color: #F37033;
    border-bottom: 2px solid #F37033; }
    .body--leadin a:hover, .body--leadin a:active {
      color: #f58b5a;
      border-bottom: 2px solid #f58b5a; }

a {
  cursor: pointer; }

.orange {
  color: #F37033; }

.highchart {
  height: 400px;
  width: 100%;
  margin: 24px 0; }

.back-to-toc {
  display: none; }
  @media screen and (min-width: 48em)  {
    .back-to-toc {
      color: white;
      position: fixed;
      right: 15px;
      bottom: 38px;
      display: block; } }

.back-to-top {
  display: none; }
  @media screen and (min-width: 48em)  {
    .back-to-top {
      color: white;
      position: fixed;
      right: 15px;
      bottom: 12px;
      display: block; } }

section.introduction h1 {
  font-size: 48px;
  color: #215F8B;
  margin-bottom: 32px; }
section.introduction h2 {
  color: #3686BE;
  margin-bottom: 12px; }
section.introduction h3 {
  font-size: 24px;
  color: #999;
  font-weight: normal;
  font-style: italic; }
section.introduction hr {
  margin: 60px 0; }
section.introduction .img img {
  float: right;
  max-width: 32%;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 24px; }
section.introduction .heading--faded {
  font-size: 24px;
  color: #999;
  font-weight: normal; }
section.introduction a {
  border-bottom: 1px dotted #3686BE; }

section.toc {
  background-color: #39B993;
  text-shadow: 0 1px #288267;
  color: white; }
  section.toc h2 {
    color: #2b8a6e;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.toc .body--leadin {
    color: #133c30; }
  section.toc a {
    color: white;
    border-bottom: 1px solid #80d8be; }
    section.toc a:hover, section.toc a:active {
      color: #a7e4d2; }
  section.toc #jobreqs p {
    font-size: 18px; }
  section.toc h4 {
    color: #216b55;
    text-shadow: none;
    margin: 1em 0 0; }
  section.toc p {
    font-style: italic; }
    section.toc p strong {
      font-style: normal; }
  section.toc ol {
    list-style: lower-roman; }
    section.toc ol li {
      font-size: 19px;
      margin: 8px 0; }
  section.toc table {
    width: 100%;
    margin: 24px 0; }
    section.toc table td {
      width: 50%;
      font-size: 21px;
      padding: 0; }
      section.toc table td a {
        text-decoration: none;
        border-bottom: none;
        display: block;
        padding: 0.25em 0.5em;
        transition: all 200ms ease; }
        section.toc table td a:hover, section.toc table td a:active {
          color: white;
          background-color: #6dd2b4; }
        section.toc table td a.active {
          color: white;
          background-color: #59cca9; }

section.employment {
  background-color: #d8e1e5;
  text-shadow: 0 1px white; }
  section.employment h2 {
    color: #aaa;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.employment h3 {
    font-size: 38px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    margin-bottom: 7px; }
  section.employment h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 26px;
    margin-bottom: 22px;
    color: #888; }
    section.employment h4 span.dark {
      color: #555; }
    section.employment h4 a {
      color: #999; }
      section.employment h4 a:hover, section.employment h4 a:active {
        color: #3686BE; }
  section.employment h5 {
    float: right;
    position: relative;
    top: 17px;
    font-weight: normal; }
  section.employment ul {
    list-style-type: disc;
    margin-left: 1.6em; }
    section.employment ul li {
      margin: 0 0 1em 0; }
      section.employment ul li.bare {
        list-style: none; }
        section.employment ul li.bare li {
          margin: 0; }
  section.employment .accordion--content {
    background-color: rgba(0, 0, 0, 0.07);
    margin-bottom: 1em; }
    section.employment .accordion--content .accordion__inner {
      padding: 1.5em; }
  section.employment hr {
    border-bottom-color: #F37033; }
  section.employment .light {
    color: #888;
    font-size: 80%; }

section.engineering {
  background-color: #F37033;
  text-shadow: 0 1px #333;
  color: white; }
  section.engineering h2 {
    color: #f9b393;
    text-shadow: none;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.engineering .body--leadin {
    color: white; }
    section.engineering .body--leadin a {
      border-bottom: 1px solid #ccc; }
  section.engineering ol {
    list-style: lower-roman; }
    section.engineering ol li {
      font-size: 22px;
      margin: 8px 0; }
  section.engineering a {
    color: white;
    border-bottom: 1px solid #f7a37b; }
    section.engineering a:hover, section.engineering a:active {
      color: #853008;
      text-shadow: none; }
  section.engineering ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.engineering h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 32px 0;
    color: white; }
  section.engineering h4 {
    margin: 1em 0; }
  section.engineering #languages {
    background-color: #3686BE; }

section.programming h2 {
  color: #cccccc;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 32px; }
section.programming .body--leadin {
  color: #444; }
section.programming a {
  color: #c7c7c7;
  font-weight: bold; }
  section.programming a:hover, section.programming a:active {
    color: white; }
section.programming ul {
  font-size: 18px;
  list-style: disc;
  margin-left: 1.6em; }
section.programming #languages {
  background-color: #3686BE; }

section.backend {
  background-color: #C52F24;
  text-shadow: 0 1px black;
  color: #eee; }
  section.backend h2 {
    text-shadow: none;
    color: #ec9c96;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.backend .body--leadin {
    color: white; }
  section.backend a {
    color: white;
    border-bottom: 1px solid #e4736b; }
    section.backend a:hover, section.backend a:active {
      color: #f0b0ac; }
  section.backend ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.backend h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    margin: 32px 0;
    color: white; }
  section.backend #languages {
    background-color: #3686BE; }

section.frontend {
  background-color: #3686BE;
  text-shadow: 0 1px #333;
  color: white; }
  section.frontend h2 {
    color: #255d82;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px;
    text-shadow: none; }
  section.frontend .body--leadin {
    color: white; }
  section.frontend a {
    color: white;
    border-bottom: 1px solid #87bbdd; }
    section.frontend a:hover, section.frontend a:active {
      color: #a7cde6; }
  section.frontend ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.frontend #languages {
    background-color: #3686BE; }

section.databases {
  background-color: #d8e1e5;
  text-shadow: 0 1px white; }
  section.databases h2 {
    color: #aaa;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px;
    text-shadow: none; }
  section.databases h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black; }
  section.databases .body--leadin {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    margin-bottom: 7px;
    margin-top: 32px;
    color: #666; }
  section.databases a {
    color: #888;
    border-bottom: 1px solid #aaa; }
    section.databases a:hover, section.databases a:active {
      color: #333; }
  section.databases ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.databases #languages {
    background-color: #3686BE; }

section.operations {
  background-color: #F37033;
  text-shadow: 0 1px #333;
  color: white; }
  section.operations h2 {
    color: #f9b393;
    text-shadow: none;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.operations .body--leadin {
    color: white; }
    section.operations .body--leadin a {
      border-bottom: 1px solid #ccc; }
  section.operations a {
    color: white;
    border-bottom: 1px solid #e4736b; }
    section.operations a:hover, section.operations a:active {
      color: #f0b0ac; }
  section.operations ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.operations h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 32px 0;
    color: white; }
  section.operations #languages {
    background-color: #3686BE; }

section.networking {
  background-color: #39B993;
  color: white; }
  section.networking h2 {
    color: #2b8a6e;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.networking .body--leadin {
    color: #133c30; }
  section.networking a {
    color: #1f634f;
    font-weight: bold; }
    section.networking a:hover, section.networking a:active {
      color: white; }
  section.networking ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }

section.accolades {
  background-color: #3686BE;
  text-shadow: 0 1px #333;
  color: white; }
  section.accolades h2 {
    color: #255d82;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px;
    text-shadow: none; }
  section.accolades .body--leadin {
    color: white; }
  section.accolades a {
    color: white;
    border-bottom: 1px solid #87bbdd; }
    section.accolades a:hover, section.accolades a:active {
      color: #a7cde6; }
  section.accolades ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.accolades #languages {
    background-color: #3686BE; }
  section.accolades .img {
    display: inline-block;
    padding: 2px;
    border: 2px solid #255d82;
    margin: 16px 0; }
    section.accolades .img img {
      display: block; }
  section.accolades em {
    font-size: 18px;
    color: #eee; }

section.education {
  background-color: #FECB66;
  color: #A30946; }
  section.education h2 {
    text-shadow: none;
    color: #ca8401;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.education .body--leadin {
    color: #e0e0e0; }
  section.education a {
    color: white;
    border-bottom: 1px solid #A30946; }
    section.education a:hover, section.education a:active {
      color: #A30946; }
  section.education ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.education h3 {
    color: #A30946;
    margin: 1px 0 0; }
    section.education h3 .thin {
      font-weight: 300; }
  section.education h4 {
    color: #A30946;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 30px; }
  section.education h5 {
    color: #976301;
    font-weight: normal; }
  section.education #languages {
    background-color: #3686BE; }

section.extras {
  background-color: #452922;
  text-shadow: 0 1px black;
  color: #eee; }
  section.extras h2 {
    text-shadow: none;
    color: #ab6655;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px; }
  section.extras .body--leadin {
    color: #e0e0e0; }
  section.extras a {
    color: white;
    border-bottom: 1px solid #895244; }
    section.extras a:hover, section.extras a:active {
      color: #b47566; }
  section.extras ul {
    font-size: 18px;
    list-style: disc;
    margin-left: 1.6em; }
  section.extras h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 8px 0;
    color: white; }
  section.extras h4 {
    color: #c49488; }
    section.extras h4 em {
      font-size: 80%;
      font-weight: normal; }
  section.extras #languages {
    background-color: #3686BE; }

section.closing h1 {
  font-size: 56px;
  color: #3686BE;
  margin-bottom: 60px;
  margin-top: 60px; }
section.closing h2 {
  color: #3686BE;
  margin-bottom: 12px;
  margin-top: 36px; }
  section.closing h2.ask {
    color: #215F8B; }
section.closing h3 {
  font-size: 24px;
  color: #999;
  font-weight: normal;
  font-style: italic; }
section.closing hr {
  margin: 60px 0; }
section.closing .orange {
  color: #F37033;
  font-weight: normal; }
