@charset "utf-8";

@import "libs.css";

@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

section {
	// background-color: #d8e1e5;
	// text-shadow: 0 1px white;

	// &:nth-child(2n) {
	// 	background-color: transparent;
	// }
}
.bg-blue {
	background-color: #4AAADE;
	text-shadow: 0px 1px 1px rgba(#1b6c98, 0.5);
}
.bg-dark-blue {
	background-color: $blue;
	color: white;
	text-shadow: 0 1px $dark-gray;
}
.bg-orange {
	background-color: $orange;
	color: white;
	text-shadow: 0 1px $dark-gray;
}
.bg-dark-gray {
	background-color: $dark-gray;
	color: white;
}
.bg-light-gray {
	background-color: #d8e1e5;
	text-shadow: 0 1px white;
}
.bg-light-red {
	background-color: $light-red;
}
.bg-light-yellow {
	background-color: $light-yellow;
}
.bg-light-green {
	background-color: $light-green;
}
.container {
	@include outer-container;
	@include box-sizing(content-box);
	padding-left: 4%;
	padding-right: 4%;

	@include media($medium) {
		padding-left: 2%;
		padding-right: 2%;

		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.col {
	@include media($medium) {
		@include span-columns(6);
	}
}

.overheader {
	background-color: $blue;
	color: white;
	text-shadow: 0 1px $dark-gray;
	border-top: 10px solid $dark-blue;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;

	.container {
		padding-top: 15px;
		padding-bottom: 17px;
	}
}

hr {
	margin: 48px 0;
}


.body--leadin {
	font-size: 28px;
	color: $orange;
	font-weight: bold;

	a {
		color: $orange;
		border-bottom: 2px solid $orange;

		&:hover, &:active {
			color: lighten($orange, 8%);
			border-bottom: 2px solid lighten($orange, 8%);
		}
	}
}

a {
	cursor: pointer;
}
.orange {
	color: $orange;
}
.highchart {
	height:400px;
	width:100%;
	margin: 24px 0;
}
.back-to-toc {
	display: none;
	@include media($medium) {
		color: white;
		position: fixed;
		right: 15px;
		bottom: 38px;
		display: block;
	}
}
.back-to-top {
	display: none;
	@include media($medium) {
		color: white;
		position: fixed;
		right: 15px;
		bottom: 12px;
		display: block;
	}
}


@import "sections/introduction";
@import "sections/toc";
@import "sections/employment";
@import "sections/engineering";
@import "sections/programming";
@import "sections/backend";
@import "sections/frontend";
@import "sections/databases";
@import "sections/operations";
@import "sections/networking";
@import "sections/accolades";
@import "sections/education";
@import "sections/extras";
@import "sections/closing";
