@import 'neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 12;
$max-width: em(800);

// Neat Breakpoints
$small-breakpoint:  em(580);
$medium-breakpoint: em(768);
$large-breakpoint:  em(1024);
$oversize-breakpoint:  $max-width;

$pre-small-only:    new-breakpoint(max-width ($small-breakpoint - 1) $grid-columns);
$small:             new-breakpoint(min-width $small-breakpoint $grid-columns);
$small-only:        new-breakpoint(min-width $small-breakpoint max-width ($medium-breakpoint - 1) $grid-columns);
$small-medium:      new-breakpoint(min-width $small-breakpoint max-width ($large-breakpoint - 1) $grid-columns);
$pre-medium-only:   new-breakpoint(max-width ($medium-breakpoint - 1) $grid-columns);
$medium:            new-breakpoint(min-width $medium-breakpoint $grid-columns);
$medium-only:       new-breakpoint(min-width $medium-breakpoint max-width ($large-breakpoint - 1) $grid-columns);
$pre-large-only:    new-breakpoint(max-width ($large-breakpoint - 1) $grid-columns);
$large:             new-breakpoint(min-width $large-breakpoint $grid-columns);
$large-only:       new-breakpoint(min-width $large-breakpoint max-width ($oversize-breakpoint - 1) $grid-columns);
$pre-oversize-only: new-breakpoint(max-width ($oversize-breakpoint - 1) $grid-columns);
$oversize:          new-breakpoint(min-width $oversize-breakpoint $grid-columns);

// Set Neat grid settings to match Bourbon for Omega Reset (https://github.com/thoughtbot/neat#getting-started)
$fg-column: $column;
$fg-gutter: $gutter;