section.accolades {
	background-color: $blue;
	text-shadow: 0 1px #333;
	color: white;

	h2 {
		color: darken($blue, 15%);
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
		text-shadow: none;
	}
	.body--leadin {
		color: white;
	}
	a {
		color: white;
		border-bottom: 1px solid lighten($blue, 22%);
		// text-decoration: underline;
		// font-weight: bold;

		&:hover, &:active {
			color: lighten($blue, 30%);
		}
	}
	ul {
		font-size: 18px;
		list-style: disc;
		margin-left: 1.6em;
	}

	#languages {
		background-color: $blue;
	}
	.img {
		display: inline-block;
		padding: 2px;
		border: 2px solid darken($blue, 15%);
		margin: 16px 0;

		img {
			display: block;
		}
	}
	em {
		font-size: 18px;
		color: #eee;
	}
}