section.closing {
	h1 {
		font-size: 56px;
		color: $blue;
		margin-bottom: 60px;
		margin-top: 60px;
	}
	h2 {
		color: $blue;
		margin-bottom: 12px;
		margin-top: 36px;

		&.ask {
			color: $dark-blue;
		}
	}
	h3 {
		font-size: 24px;
		color: $medium-gray;
		font-weight: normal;
		font-style: italic;
	}
	h4 {

	}
	hr {
		margin: 60px 0;
	}
	.orange {
		color: $orange;
		font-weight: normal;
	}
}