section.databases {
	background-color: #d8e1e5;
	text-shadow: 0 1px white;

	h2 {
		color: #aaa;
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
		text-shadow: none;
	}

	h3 {
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 3px;
		// margin: 32px 0;
		color: black;
	}
	.body--leadin {
		border-bottom: 1px solid #aaa;
		padding-bottom: 5px;
		margin-bottom: 7px;
		margin-top: 32px;
		color: #666;
	}
	a {
		color: #888;
		border-bottom: 1px solid #aaa;
		// text-decoration: underline;
		// font-weight: bold;

		&:hover, &:active {
			color: #333;
		}
	}
	ul {
		font-size: 18px;
		list-style: disc;
		margin-left: 1.6em;
	}

	#languages {
		background-color: $blue;
	}
}