section.education {
	background-color: #FECB66;
	// text-shadow: 0 1px black;
	color: #A30946;

	h2 {
		text-shadow: none;
		color: darken(#FECB66, 30%);
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
	}
	.body--leadin {
		color: #e0e0e0;
		// text-shadow: none;
	}
	a {
		// color: #A30946;
		color: white;
		// text-decoration: underline;
		// font-weight: bold;
		border-bottom: 1px solid #A30946;

		&:hover, &:active {
			color: #A30946;
		}
	}
	ul {
		font-size: 18px;
		list-style: disc;
		margin-left: 1.6em;
	}
	h3 {
		// font-weight: normal;
		color: #A30946;
		// text-transform: uppercase;
		// letter-spacing: 3px;
		margin: 1px 0 0;

		.thin {
			font-weight: 300;
		}
	}
	h4 {
		color: #A30946;
		font-weight: normal;
		font-style: italic;
		margin-bottom: 30px;
	}
	h5 {
		color: darken(#FECB66, 40%);
		font-weight: normal;
	}

	#languages {
		background-color: $blue;
	}
}