section.employment {
	background-color: #d8e1e5;
	text-shadow: 0 1px white;

	h2 {
		color: #aaa;
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
	}
	h3 {
		font-size: 38px;
		border-bottom: 1px solid $light-gray;
		padding-bottom: 5px;
		margin-bottom: 7px;
	}
	h4 {
		font-weight: normal;
		font-style: italic;
		font-size: 26px;
		margin-bottom: 22px;
		color: #888;

		span.dark {
			color: #555;
		}

		a {
			color: $medium-gray;

			&:hover, &:active {
				color: $blue;
			}
		}
	}
	h5 {
		float: right;
		position: relative;
		top: 17px;
		// line-height: 2;
		// font-size: 28px;
		font-weight: normal;
	}
	ul {
		list-style-type: disc;
		margin-left: 1.6em;

		li {
			margin: 0 0 1em 0;

			&.bare {
				list-style: none;

				li {
					margin: 0;
				}
			}
		}
	}
	.accordion--content {
		background-color: rgba(black, 0.07);
		margin-bottom: 1em;

		.accordion__inner {
			padding: 1.5em;
		}
	}
	hr {
		border-bottom-color: $orange;
	}
	.light {
		color: #888;
		font-size: 80%;
	}
}