section.extras {
	background-color: #452922;
	text-shadow: 0 1px black;
	color: #eee;

	h2 {
		text-shadow: none;
		color: lighten(#452922, 30%);
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
	}
	.body--leadin {
		color: #e0e0e0;
		// text-shadow: none;
	}
	a {
		// color: lighten(#452922, 30%);
		color: white;
		// text-decoration: underline;
		// font-weight: bold;
		border-bottom: 1px solid lighten(#452922, 20%);

		&:hover, &:active {
			color: lighten(#452922, 35%);
		}
	}
	ul {
		font-size: 18px;
		list-style: disc;
		margin-left: 1.6em;
	}
	h3 {
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 8px 0;
		color: white;

	}
	h4 {
		color: lighten(#452922, 45%);

		em {
			font-size: 80%;
			font-weight: normal;
		}
	}

	#languages {
		background-color: $blue;
	}
}