section.introduction {
	h1 {
		font-size: 48px;
		color: $dark-blue;
		margin-bottom: 32px;
	}
	h2 {
		color: $blue;
		margin-bottom: 12px;
	}
	h3 {
		font-size: 24px;
		color: $medium-gray;
		font-weight: normal;
		font-style: italic;
	}
	h4 {
	}
	hr {
		margin: 60px 0;
	}
	.img {

		img {
			float: right;
			max-width: 32%;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 24px;

		}
	}
	.heading--faded {
			font-size: 24px;
			color: $medium-gray;
			font-weight: normal;
	}
	a {
		border-bottom: 1px dotted $blue;
	}
}