section.networking {
	background-color: $green;
	// text-shadow: 0 1px white;
	color: white;

	h2 {
		color: darken($green, 12%);
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
	}
	.body--leadin {
		color: darken($green, 32%);
	}
	a {
		color: darken($green, 22%);
		// text-decoration: underline;
		font-weight: bold;

		&:hover, &:active {
			color: white;
		}
	}
	ul {
		font-size: 18px;
		list-style: disc;
		margin-left: 1.6em;
	}
}