section.operations {
	background-color: $orange;
	text-shadow: 0 1px #333;
	color: white;

	h2 {
		color: lighten($orange, 20%);
		text-shadow: none;
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
	}
	.body--leadin {
		color: white;
		// text-shadow: none;

		a {
			border-bottom: 1px solid #ccc;
		}
	}
	a {
		// color: lighten(#C52F24, 30%);
		color: white;
		// text-decoration: underline;
		// font-weight: bold;
		border-bottom: 1px solid lighten(#C52F24, 20%);

		&:hover, &:active {
			color: lighten(#C52F24, 35%);
		}
	}
	ul {
		font-size: 18px;
		list-style: disc;
		margin-left: 1.6em;
	}
	h3 {
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 32px 0;
		color: white;
	}

	#languages {
		background-color: $blue;
	}
}