section.programming {
	// background-color: white;
	// text-shadow: 0 1px white;
	// color: white;

	h2 {
		color: darken(white, 20%);
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
	}
	.body--leadin {
		color: #444;
	}
	a {
		color: darken(white, 22%);
		// text-decoration: underline;
		font-weight: bold;

		&:hover, &:active {
			color: white;
		}
	}
	ul {
		font-size: 18px;
		list-style: disc;
		margin-left: 1.6em;
	}

	#languages {
		background-color: $blue;
	}
}