section.toc {
	background-color: $green;
	text-shadow: 0 1px darken($green, 14%);
	color: white;

	h2 {
		color: darken($green, 12%);
		font-size: 38px;
		text-transform: uppercase;
		font-weight: normal;
		margin-bottom: 32px;
	}
	.body--leadin {
		color: darken($green, 32%);
	}
	a {
		// color: darken($green, 20%);
		color: white;
		// color: lighten($green, 35%);
		// font-weight: bold;
		border-bottom: 1px solid lighten($green, 20%);

		&:hover, &:active {
			color: lighten($green, 30%);
			// color: white;
		}
	}
	#jobreqs {
		p {
			font-size: 18px;
		}
	}
	h4 {
		color: darken($green, 20%);
		text-shadow: none;
		margin: 1em 0 0;
	}
	p {
		font-style: italic;
		// color: darken($green, 32%);

		strong {
			font-style: normal;
		// 	color: white;
		}
	}
	ol {
		list-style: lower-roman;
		li {
			font-size: 19px;
			margin: 8px 0;
		}
	}
	table {
		width: 100%;
		margin: 24px 0;

		td {
			width: 50%;
			font-size: 21px;
			padding: 0;

			a {
				text-decoration: none;
				border-bottom: none;
				display: block;
				padding: 0.25em 0.5em;
				transition: all 200ms ease;

				&:hover, &:active {
					color: white;
					background-color: lighten($green, 15%);
				}
				&.active {
					color: white;
					background-color: lighten($green, 10%);
				}
			}
		}
	}

}